In [36]:
import pandas as pd

In [37]:
df_estoque = pd.read_excel("bases/relatorio_produtos.xlsx")
display(df_estoque)

,Código,Produto,Embalagem,Unidade,Código da Marca,Marca,Quantidade estoque,Preço de custo,Código da categoria,Categoria
0,1,LAPIS Nº2 HB PT C/144 SERELEPE ECOLE,CX/1,CX,1,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA,0.0,9.000000,708,LAPIS ( LAP )
1,3,CANETA HIDRO PONTA FINA PT CIS,UN/1,UN,1272,COMERCIO E IMPORTACAO SERTIC LTDA,NaN,1.480000,35011,CANETA HIDROGRAFICA (CNT)
2,4,BANDEIRINHAS JUNINAS MEGA,PC/1,PC,1,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA,NaN,2.739700,359,BANDEIRAS ( BDJ )
3,5,FITA IMP EPSON FX890 MASTERPRINT,UN/1,UN,4281,GRUPO MASTER COMERCIO IMPORTACAO E EXPORTACAO ...,61.0,10.545270,3,FITAS PARA IMPRESSORAS ( FTA )
4,6,ACUCAR COMUM,KG/1,KG,1,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA,NaN,2.500000,199,AÇÚCAR
...,...,...,...,...,...,...,...,...,...,...
37522,38226,PISTOLA P/APLICAR COLA QUENTE PQ FUTURO,UN/1,UN,8793,FUTURO BRASIL IMPORTACAO E EXPORTACAO LTDA EPP,0.0,0.000000,206,PISTOLA ( PIS )
37523,38227,PERFURADOR METAL 2F 20FL FUTURO,UN/1,UN,8793,FUTURO BRASIL IMPORTACAO E EXPORTACAO LTDA EPP,0.0,0.000000,81,PERFURADORES ( PRF )
37524,38228,BALDE 8L PT FORTPLAST 1030.5,UN/1,UN,8801,FORT-PLAST INDUSTRIA E COMERCIO DE PLASTICOS E...,600.0,3.879582,159,BALDES PLASTICO ( BDE )
37525,38229,BALDE 10L PT FORTPLAST 1042.5,UN/1,UN,8801,FORT-PLAST INDUSTRIA E COMERCIO DE PLASTICOS E...,590.0,5.431415,159,BALDES PLASTICO ( BDE )
37526,38230,QUENTINHA MANUAL 3DV Y C/100 BRICOFLEX,CX/100,CX,8749,"BRICOFLEX, IMP. E EXP, COM. DE UTIL. DOMESTICA...",0.0,0.000000,144,QUENTINHA ( QNT )

In [38]:
print(f"Formato dos dados {df_estoque.shape}")

Formato dos dados (37527, 10)

In [39]:
print(df_estoque.columns.to_list())

['Código', 'Produto', 'Embalagem', 'Unidade', 'Código da Marca', 'Marca', 'Quantidade estoque', 'Preço de custo', 'Código da categoria', 'Categoria']

In [40]:
df_estoque.dtypes

Código                   int64
Produto                 object
Embalagem               object
Unidade                 object
Código da Marca          int64
Marca                   object
Quantidade estoque     float64
Preço de custo         float64
Código da categoria      int64
Categoria               object
dtype: object

In [41]:
df_estoque.describe(exclude=object)

,Código,Código da Marca,Quantidade estoque,Preço de custo,Código da categoria
count,37527.000000,37527.000000,31204.000000,37527.000000,37527.000000
mean,19170.185413,4116.673302,112.105966,22.896258,2661.045034
std,11023.203749,19900.846543,1310.514860,431.449346,8705.304106
min,1.000000,1.000000,-4.000000,0.000000,1.000000
25%,9616.500000,995.000000,0.000000,2.524401,83.000000
50%,19186.000000,2712.000000,0.000000,6.880567,322.000000
75%,28728.500000,7346.000000,20.000000,16.858232,647.000000
max,38230.000000,901455.000000,166112.000000,79000.000000,35157.000000

In [42]:
df_estoque.describe(include=object)

,Produto,Embalagem,Unidade,Marca,Categoria
count,37527,37527,37527,37527,37527
unique,36637,358,23,872,705
top,CUECA AM BOXER LUPO,UN/1,UN,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA,CADERNOS ( CAD )
freq,84,23289,23749,2685,3797

In [43]:
print("Quantidade valores faltantes\n")
df_estoque.isnull().sum()

Quantidade valores faltantes

Código                    0
Produto                   0
Embalagem                 0
Unidade                   0
Código da Marca           0
Marca                     0
Quantidade estoque     6323
Preço de custo            0
Código da categoria       0
Categoria                 0
dtype: int64

In [44]:
print("'%' dos valores faltantes")
((df_estoque.isnull().sum()/df_estoque['Código'].count() * 100).round(2))

'%' dos valores faltantes

Código                  0.00
Produto                 0.00
Embalagem               0.00
Unidade                 0.00
Código da Marca         0.00
Marca                   0.00
Quantidade estoque     16.85
Preço de custo          0.00
Código da categoria     0.00
Categoria               0.00
dtype: float64