In [3]:
import pandas as pd
import numpy as np

In [4]:
caminho_base_nota = "bases/relatorio_notas.xlsx"
df_notas = pd.read_excel(caminho_base_nota)
df_notas.head(10)

,Numero nota fiscal,Data da venda,Código produto,Descrição do produto,Quantidade do produto,Valor unitário,Preço venda,Preço de custo,Valor da nota
0,566082,17/06/2025,33932,ENV 229X324 OU C/100 FILIPERSON,2.0,33.00,27.476514,24.409041,3895.94
1,566082,17/06/2025,29367,GUARDANAPO SNOB FS 33X30 50F SANTHER,5.0,2.90,2.499397,2.231242,3895.94
2,566082,17/06/2025,241,PASTA AZ OF LE TIGRADA FRAMA 356-11952,40.0,9.45,8.863195,7.605561,3895.94
3,566082,17/06/2025,32608,CALCULADORA MESA 12 DIG MASTERPRINT 1086,6.0,20.87,18.974913,17.051309,3895.94
4,566082,17/06/2025,18508,CAD BROCH UNIV STIFF AZ 96F JANDAIA,5.0,6.26,5.680850,4.830296,3895.94
5,566082,17/06/2025,25261,MARC QUADRO BR AZ BRW CA3001,36.0,1.60,1.334188,1.172719,3895.94
6,566082,17/06/2025,22711,TESOURA ACO INOX 21CM BRW TE2101,4.0,4.03,3.497738,3.112186,3895.94
7,566082,17/06/2025,25495,MARCA TEXTO AM C/12 MASTERPRINT MP612,2.0,11.30,9.685860,8.720000,3895.94
8,566082,17/06/2025,23502,COLA EVA S/TOLUENO 75G BRASCOLA,1.0,5.20,4.453584,3.943554,3895.94
9,566082,17/06/2025,23717,PERFURADOR 2F 35FL METAL BRW PF3000,2.0,42.00,34.956958,32.404481,3895.94

In [5]:
df_notas.shape

(336739, 9)

In [6]:
df_notas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336739 entries, 0 to 336738
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Numero nota fiscal     336739 non-null  int64
 1   Data da venda          336739 non-null  object
 2   Código produto         336739 non-null  int64
 3   Descrição do produto   336739 non-null  object
 4   Quantidade do produto  336739 non-null  float64
 5   Valor unitário         336739 non-null  float64
 6   Preço venda            336739 non-null  float64
 7   Preço de custo         334515 non-null  float64
 8   Valor da nota          333994 non-null  float64
dtypes: float64(5), int64(2), object(2)
memory usage: 23.1+ MB

In [7]:
df_notas.describe()

,Numero nota fiscal,Código produto,Quantidade do produto,Valor unitário,Preço venda,Preço de custo,Valor da nota
count,336739.000000,336739.000000,336739.000000,336739.000000,336739.000000,334515.000000,333994.000000
mean,480532.632603,22071.594784,15.671684,15.853359,13.092898,11.769463,2087.380438
std,180938.617261,11782.581172,85.143989,28.686929,23.675404,21.230737,3667.545385
min,401.000000,5.000000,-3125.000000,0.000000,0.000000,0.000000,0.000000
25%,544228.000000,11430.000000,2.000000,3.970000,3.187960,2.833333,502.070000
50%,551127.000000,24781.000000,5.000000,8.190000,6.671038,6.007989,1076.750000
75%,558739.000000,32304.000000,12.000000,18.820000,15.223790,13.530400,2341.640000
max,566082.000000,38229.000000,9764.000000,1169.000000,974.762703,880.340302,178016.720000

In [8]:
df_notas.columns.tolist()

['Numero nota fiscal',
 'Data da venda',
 'Código produto',
 'Descrição do produto',
 'Quantidade do produto',
 'Valor unitário',
 'Preço venda',
 'Preço de custo',
 'Valor da nota']

In [9]:
df_notas.isnull().sum()

Numero nota fiscal          0
Data da venda               0
Código produto              0
Descrição do produto        0
Quantidade do produto       0
Valor unitário              0
Preço venda                 0
Preço de custo           2224
Valor da nota            2745
dtype: int64

In [10]:
colunas_num = df_notas.select_dtypes(include='number')
for coluna in colunas_num.columns.tolist():
    qtd = df_notas[coluna] == 0
    print(f"\n{coluna} tem : {qtd.sum()} registros zerados")

Numero nota fiscal tem : 0 registros zerados

Código produto tem : 0 registros zerados

Quantidade do produto tem : 1749 registros zerados

Valor unitário tem : 2017 registros zerados

Preço venda tem : 1916 registros zerados

Preço de custo tem : 1 registros zerados

Valor da nota tem : 1108 registros zerados

In [11]:
total_registros = len(df_notas)  
zeros_qtd = (df_notas["Quantidade do produto"] == 0).sum()

porcentagem_zeros = (zeros_qtd / total_registros) * 100

print(f"Valores zerados em 'Quantidade do produto': {zeros_qtd} de {total_registros} registros")
print(f"Representa {porcentagem_zeros:.2f}% da base total")

Valores zerados em 'Quantidade do produto': 1749 de 336739 registros
Representa 0.52% da base total

In [12]:
total_registros = len(df_notas)  
zeros_qtd = (df_notas["Valor unitário"] == 0).sum()

porcentagem_zeros = (zeros_qtd / total_registros) * 100

print(f"Valores zerados em 'Quantidade do produto': {zeros_qtd} de {total_registros} registros")
print(f"Representa {porcentagem_zeros:.2f}% da base total")

Valores zerados em 'Quantidade do produto': 2017 de 336739 registros
Representa 0.60% da base total

In [13]:
# Verificar registros onde AMBAS colunas são zero
zeros_combinados = df_notas[(df_notas['Quantidade do produto'] == 0) & 
                     (df_notas['Valor unitário'] == 0)]
print(f"Registros com Qtd e Valor zerados: {len(zeros_combinados)}")

# Verificar registros onde APENAS UMA é zero
apenas_qtd_zero = df_notas[(df_notas['Quantidade do produto'] == 0) & 
                           (df_notas['Valor unitário'] > 0)]
apenas_valor_zero = df_notas[(df_notas['Quantidade do produto'] > 0) & 
                             (df_notas['Valor unitário'] == 0)]

Registros com Qtd e Valor zerados: 1749

In [14]:
# Filtrar registros com ambas as colunas zeradas
registros_zerados = df_notas[
    (df_notas['Quantidade do produto'] <= 0) & 
    (df_notas['Valor unitário'] <= 0)
]

# Contar notas fiscais únicas impactadas
notas_impactadas = registros_zerados['Numero nota fiscal'].nunique()

print(f"Total de notas fiscais impactadas: {notas_impactadas}")

Total de notas fiscais impactadas: 40

In [15]:
proct = (notas_impactadas * 100 ) / len(df_notas)
proct

0.01187863597623085

In [16]:
notas_zeradas = registros_zerados['Numero nota fiscal'].value_counts().reset_index()
notas_zeradas.columns = ['Numero nota fiscal', 'Registros zerados']
print(notas_zeradas.head(10))

   Numero nota fiscal  Registros zerados
0              558995                256
1              551026                201
2              541710                162
3              557892                162
4              546779                141
5              546881                102
6              541695                 92
7              550974                 81
8              557758                 59
9              563922                 57

In [17]:
# Notas onde TODOS os itens estão zerados
notas_totalmente_zeradas = df_notas.groupby('Numero nota fiscal').filter(
    lambda x: (x['Quantidade do produto'] == 0).all() & 
    (x['Valor unitário'] == 0).all()
)
print(f"Notas com 100% itens zerados: {notas_totalmente_zeradas['Numero nota fiscal'].nunique()}")

Notas com 100% itens zerados: 40

In [18]:
df_notas["Numero nota fiscal"].nunique()

30521

In [19]:
# Lista de notas com pelo menos 1 item inválido  
notas_com_problemas = df_notas[  
    (df_notas['Quantidade do produto'] <= 0) |  
    (df_notas['Valor unitário'] <= 0)  
]['Numero nota fiscal'].unique()  

print(f"Notas a serem excluídas: {len(notas_com_problemas)}")

Notas a serem excluídas: 150

In [20]:
df_limpo_ml = df_notas[~df_notas['Numero nota fiscal'].isin(notas_com_problemas)]

In [21]:
notas_invalidas_restantes = df_limpo_ml[  
    (df_limpo_ml['Quantidade do produto'] <= 0) |  
    (df_limpo_ml['Valor unitário'] <= 0)  
]['Numero nota fiscal'].nunique()  

print(f"Notas inválidas remanescentes: {notas_invalidas_restantes} (deve ser 0)")

Notas inválidas remanescentes: 0 (deve ser 0)

In [22]:
df_notas["Numero nota fiscal"].nunique()

30521

In [23]:
df_limpo_ml["Numero nota fiscal"].nunique()

30371

In [24]:
colunas_nume = df_limpo_ml.select_dtypes(include='number')
for coluna in colunas_nume.columns.tolist():
    qtd = df_limpo_ml[coluna] == 0
    print(f"\n{coluna} tem : {qtd.sum()} registros zerados")

Numero nota fiscal tem : 0 registros zerados

Código produto tem : 0 registros zerados

Quantidade do produto tem : 0 registros zerados

Valor unitário tem : 0 registros zerados

Preço venda tem : 163 registros zerados

Preço de custo tem : 1 registros zerados

Valor da nota tem : 142 registros zerados

In [25]:
df_limpo_ml["Total produto nota"] = df_limpo_ml["Quantidade do produto"] * df_limpo_ml["Valor unitário"]

C:\Users\Paulo Neto\AppData\Local\Temp\ipykernel_10900\2668893392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpo_ml["Total produto nota"] = df_limpo_ml["Quantidade do produto"] * df_limpo_ml["Valor unitário"]

In [26]:
# Passo 1: Calcular a soma de "Total produto nota" por nota fiscal
soma_por_nota = df_limpo_ml.groupby('Numero nota fiscal')['Total produto nota'].sum()

# Passo 2: Mapear os valores somados de volta ao DataFrame original
df_limpo_ml['Valor da nota'] = df_limpo_ml['Numero nota fiscal'].map(soma_por_nota)

# Verificação (opcional)
df_limpo_ml.head(3)

C:\Users\Paulo Neto\AppData\Local\Temp\ipykernel_10900\3310216314.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpo_ml['Valor da nota'] = df_limpo_ml['Numero nota fiscal'].map(soma_por_nota)

,Numero nota fiscal,Data da venda,Código produto,Descrição do produto,Quantidade do produto,Valor unitário,Preço venda,Preço de custo,Valor da nota,Total produto nota
0,566082,17/06/2025,33932,ENV 229X324 OU C/100 FILIPERSON,2.0,33.00,27.476514,24.409041,4217.74,66.0
1,566082,17/06/2025,29367,GUARDANAPO SNOB FS 33X30 50F SANTHER,5.0,2.90,2.499397,2.231242,4217.74,14.5
2,566082,17/06/2025,241,PASTA AZ OF LE TIGRADA FRAMA 356-11952,40.0,9.45,8.863195,7.605561,4217.74,378.0

In [27]:
df_limpo_notas = df_limpo_ml[["Numero nota fiscal", "Data da venda", "Código produto", "Descrição do produto", "Preço de custo", "Quantidade do produto", "Valor unitário", "Total produto nota", "Valor da nota"]]

In [28]:
df_limpo_notas

,Numero nota fiscal,Data da venda,Código produto,Descrição do produto,Preço de custo,Quantidade do produto,Valor unitário,Total produto nota,Valor da nota
0,566082,17/06/2025,33932,ENV 229X324 OU C/100 FILIPERSON,24.409041,2.0,33.000000,66.000000,4217.740000
1,566082,17/06/2025,29367,GUARDANAPO SNOB FS 33X30 50F SANTHER,2.231242,5.0,2.900000,14.500000,4217.740000
2,566082,17/06/2025,241,PASTA AZ OF LE TIGRADA FRAMA 356-11952,7.605561,40.0,9.450000,378.000000,4217.740000
3,566082,17/06/2025,32608,CALCULADORA MESA 12 DIG MASTERPRINT 1086,17.051309,6.0,20.870000,125.220000,4217.740000
4,566082,17/06/2025,18508,CAD BROCH UNIV STIFF AZ 96F JANDAIA,4.830296,5.0,6.260000,31.300000,4217.740000
...,...,...,...,...,...,...,...,...,...
336734,403,03/01/2025,31327,CAIXA TERMICA PT 34L MOR,71.595537,20.0,71.595537,1431.910740,7662.182202
336735,403,03/01/2025,31329,CAIXA TERMICA VM 18L MOR,44.910000,52.0,44.910000,2335.320000,7662.182202
336736,403,03/01/2025,9552,CX ISOPOR 33L ISOPLAST,25.542042,6.0,25.542042,153.252252,7662.182202
336737,402,03/01/2025,6792,CX ISOPOR 3L ISOPLAST,2.780000,24.0,2.780000,66.720000,66.720000
336738,401,02/01/2025,9554,CX ISOPOR 45L ISOPLAST,34.540934,20.0,34.540934,690.818680,690.818680

In [29]:
# Verifique colunas numéricas críticas
colunas_chave = ['Quantidade do produto', 'Valor unitário', 'Total produto nota', 'Valor da nota']
print("Valores nulos ou zerados:")
display(df_limpo_ml[colunas_chave].isin([0, np.nan]).sum())

# Saída esperada: Todos zeros (nenhum valor problemático)

Valores nulos ou zerados:

Quantidade do produto    0
Valor unitário           0
Total produto nota       0
Valor da nota            0
dtype: int64

In [30]:
# Verifique se o somatório de 'Total produto nota' por nota fiscal bate com 'Valor da nota'
inconsistencias = df_limpo_ml.groupby('Numero nota fiscal').apply(
    lambda x: abs(x['Total produto nota'].sum() - x['Valor da nota'].max()) > 0.01
).sum()

print(f"\nNotas fiscais com valores inconsistentes: {inconsistencias}")

Notas fiscais com valores inconsistentes: 0

C:\Users\Paulo Neto\AppData\Local\Temp\ipykernel_10900\2296820689.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  inconsistencias = df_limpo_ml.groupby('Numero nota fiscal').apply(

In [31]:
# Itens duplicados dentro da mesma nota fiscal
duplicados = df_limpo_ml.duplicated(
    subset=['Numero nota fiscal', 'Código produto'], 
    keep=False
).sum()

print(f"\nItens duplicados em notas fiscais: {duplicados}")

Itens duplicados em notas fiscais: 3359

In [32]:
negativos = df_limpo_ml[
    (df_limpo_ml['Quantidade do produto'] < 0) | 
    (df_limpo_ml['Valor unitário'] < 0)
].shape[0]

print(f"\nRegistros com valores negativos: {negativos}")

Registros com valores negativos: 0

In [33]:
# Produtos sem código ou notas sem identificação
sem_codigo = df_limpo_ml['Código produto'].isnull().sum()
sem_nota = df_limpo_ml['Numero nota fiscal'].isnull().sum()

print(f"\nProdutos sem código: {sem_codigo}\nNotas sem identificação: {sem_nota}")

Produtos sem código: 0
Notas sem identificação: 0

In [34]:
print("\n\033[1mRESUMO DA VERIFICAÇÃO:\033[0m")
print(f"""
1. Valores nulos/zerados: {df_limpo_ml[colunas_chave].isin([0, np.nan]).sum().sum()}
2. Notas inconsistentes: {inconsistencias}
3. Itens duplicados: {duplicados}
4. Valores negativos: {negativos}
5. Dados sem chave: Produtos={sem_codigo}, Notas={sem_nota}
""")

RESUMO DA VERIFICAÇÃO:

1. Valores nulos/zerados: 0
2. Notas inconsistentes: 0
3. Itens duplicados: 3359
4. Valores negativos: 0
5. Dados sem chave: Produtos=0, Notas=0

In [35]:
# Filtrar apenas os registros duplicados (mesma nota + mesmo produto)
duplicatas = df_limpo_ml[
    df_limpo_ml.duplicated(
        subset=['Numero nota fiscal', 'Código produto'], 
        keep=False
    )
].sort_values(['Numero nota fiscal', 'Código produto'])

In [36]:
duplicatas["Numero nota fiscal"].nunique()

801

In [37]:
# Salvar para análise
duplicatas.to_excel("itens_duplicados.xlsx", index=False)

In [38]:
# Agrupar por nota e produto para ver variações de preço
analise_preco = duplicatas.groupby(['Numero nota fiscal', 'Código produto', 'Descrição do produto']).agg({
    'Valor unitário': ['min', 'max', 'count'],
    'Quantidade do produto': 'sum'
}).reset_index()

# Filtrar casos onde o preço varia
precos_diferentes = analise_preco[analise_preco[('Valor unitário', 'min')] != analise_preco[('Valor unitário', 'max')]]
print(f"Produtos com preços diferentes na mesma nota: {len(precos_diferentes)}")

Produtos com preços diferentes na mesma nota: 404

In [39]:
# Verificar se o mesmo código tem descrições distintas
descricoes_diferentes = duplicatas.groupby('Código produto')['Descrição do produto'].nunique().loc[lambda x: x > 1]
descricoes_diferentes

Series([], Name: Descrição do produto, dtype: int64)

In [40]:
# Quantidade de itens duplicados por nota (agrupado)
itens_duplicados_por_nota = df_limpo_ml[
    df_limpo_ml.duplicated(subset=['Numero nota fiscal', 'Código produto'], keep=False)
].groupby('Numero nota fiscal').size().reset_index(name='Qtd Itens Duplicados')

# Exemplo das 5 notas com mais duplicatas
print(itens_duplicados_por_nota.sort_values('Qtd Itens Duplicados', ascending=False).head(10))

     Numero nota fiscal  Qtd Itens Duplicados
335               37030                    48
343               37058                    41
382               37195                    34
352               37085                    30
406               37290                    29
673               38992                    29
607               38457                    27
363               37118                    23
435               37405                    23
547               37832                    21

In [41]:
# Lista de notas que contêm pelo menos 1 item duplicado
notas_com_duplicatas = df_limpo_ml[
    df_limpo_ml.duplicated(subset=['Numero nota fiscal', 'Código produto'], keep=False)
]['Numero nota fiscal'].unique()

print(f"Notas a serem excluídas: {len(notas_com_duplicatas)} ({len(notas_com_duplicatas) / df_limpo_ml['Numero nota fiscal'].nunique() * 100:.2f}%)")

Notas a serem excluídas: 801 (2.64%)

In [42]:
# Filtrar apenas notas SEM itens duplicados
df_final = df_limpo_ml[~df_limpo_ml['Numero nota fiscal'].isin(notas_com_duplicatas)].copy()

In [43]:
# Checar se ainda há duplicatas
duplicatas_restantes = df_final.duplicated(
    subset=['Numero nota fiscal', 'Código produto'], 
    keep=False
).sum()

print(f"Notas restantes: {df_final['Numero nota fiscal'].nunique()}")
print(f"Itens duplicados remanescentes: {duplicatas_restantes} (deve ser 0)")

Notas restantes: 29570
Itens duplicados remanescentes: 0 (deve ser 0)

In [44]:
print(f"""
\033[1mRESUMO DA EXCLUSÃO\033[0m
- Notas originais: {df_limpo_ml['Numero nota fiscal'].nunique()}
- Notas excluídas: {len(notas_com_duplicatas)} (2.67%)
- Notas válidas restantes: {df_final['Numero nota fiscal'].nunique()}
- Registros removidos: {len(df_limpo_ml) - len(df_final)}
""")

RESUMO DA EXCLUSÃO
- Notas originais: 30371
- Notas excluídas: 801 (2.67%)
- Notas válidas restantes: 29570
- Registros removidos: 19255

In [45]:
colunas_criticas = ['Quantidade do produto', 'Valor unitário', 'Total produto nota', 'Valor da nota']
print("Valores nulos ou zerados:")
display(df_final[colunas_criticas].isin([0, np.nan]).sum())

Valores nulos ou zerados:

Quantidade do produto    0
Valor unitário           0
Total produto nota       0
Valor da nota            0
dtype: int64

In [46]:
duplicatas = df_final.duplicated(subset=['Numero nota fiscal', 'Código produto'], keep=False).sum()
print(f"Itens duplicados remanescentes: {duplicatas} (deve ser 0)")

Itens duplicados remanescentes: 0 (deve ser 0)

In [47]:
inconsistencias = df_final.groupby('Numero nota fiscal').apply(
    lambda x: abs(x['Total produto nota'].sum() - x['Valor da nota'].max()) > 0.01
).sum()
print(f"Notas com valores inconsistentes: {inconsistencias} (deve ser 0)")

Notas com valores inconsistentes: 0 (deve ser 0)

C:\Users\Paulo Neto\AppData\Local\Temp\ipykernel_10900\1911192407.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  inconsistencias = df_final.groupby('Numero nota fiscal').apply(

In [48]:
negativos = df_final[
    (df_final['Quantidade do produto'] < 0) | 
    (df_final['Valor unitário'] < 0)
].shape[0]
print(f"Registros com valores negativos: {negativos} (deve ser 0)")

Registros com valores negativos: 0 (deve ser 0)

In [49]:
# Produtos ou notas sem identificação
sem_codigo = df_final['Código produto'].isnull().sum()
sem_nota = df_final['Numero nota fiscal'].isnull().sum()
print(f"Produtos sem código: {sem_codigo}, Notas sem ID: {sem_nota} (ambos devem ser 0)")

Produtos sem código: 0, Notas sem ID: 0 (ambos devem ser 0)

In [50]:
print(f"""
\033[1mRELATÓRIO FINAL DE CONSISTÊNCIA\033[0m
1. Dados nulos/zerados: {df_final[colunas_criticas].isin([0, np.nan]).sum().sum()} (0 = OK)
2. Duplicatas residuais: {duplicatas} (0 = OK)
3. Notas inconsistentes: {inconsistencias} (0 = OK)
4. Valores negativos: {negativos} (0 = OK)
5. Chaves ausentes: Produtos={sem_codigo}, Notas={sem_nota} (0 = OK)
""")

RELATÓRIO FINAL DE CONSISTÊNCIA
1. Dados nulos/zerados: 0 (0 = OK)
2. Duplicatas residuais: 0 (0 = OK)
3. Notas inconsistentes: 0 (0 = OK)
4. Valores negativos: 0 (0 = OK)
5. Chaves ausentes: Produtos=0, Notas=0 (0 = OK)

In [51]:
df_final.to_excel("base_final_notas_limpa.xlsx", index=False)

In [52]:
df_final.dtypes

Numero nota fiscal         int64
Data da venda             object
Código produto             int64
Descrição do produto      object
Quantidade do produto    float64
Valor unitário           float64
Preço venda              float64
Preço de custo           float64
Valor da nota            float64
Total produto nota       float64
dtype: object

In [53]:
df_final[["Quantidade do produto", "Valor unitário", "Preço venda", "Valor da nota", "Total produto nota"]]

,Quantidade do produto,Valor unitário,Preço venda,Valor da nota,Total produto nota
0,2.0,33.000000,27.476514,4217.740000,66.000000
1,5.0,2.900000,2.499397,4217.740000,14.500000
2,40.0,9.450000,8.863195,4217.740000,378.000000
3,6.0,20.870000,18.974913,4217.740000,125.220000
4,5.0,6.260000,5.680850,4217.740000,31.300000
...,...,...,...,...,...
336734,20.0,71.595537,71.595537,7662.182202,1431.910740
336735,52.0,44.910000,44.910000,7662.182202,2335.320000
336736,6.0,25.542042,25.998995,7662.182202,153.252252
336737,24.0,2.780000,3.172271,66.720000,66.720000
336738,20.0,34.540934,36.485731,690.818680,690.818680

In [54]:
# Conversão de tipos e formatação
df_final = df_final.astype({
    'Data da venda': 'datetime64[ns]',  # Ou use pd.to_datetime()
    'Código produto': 'int64',
    'Descrição do produto': 'string',    # Tipo string do pandas (melhor que object)
    'Quantidade do produto': 'int64'
})

# Arredondamento para 2 casas decimais em colunas float
colunas_float = ['Valor unitário', 'Preço venda', 'Preço de custo', 'Valor da nota', 'Total produto nota']
df_final[colunas_float] = df_final[colunas_float].round(2)

# Verificação final dos tipos
print(df_final.dtypes)

Numero nota fiscal                int64
Data da venda            datetime64[ns]
Código produto                    int64
Descrição do produto     string[python]
Quantidade do produto             int64
Valor unitário                  float64
Preço venda                     float64
Preço de custo                  float64
Valor da nota                   float64
Total produto nota              float64
dtype: object

In [55]:
df_final

,Numero nota fiscal,Data da venda,Código produto,Descrição do produto,Quantidade do produto,Valor unitário,Preço venda,Preço de custo,Valor da nota,Total produto nota
0,566082,2025-06-17,33932,ENV 229X324 OU C/100 FILIPERSON,2,33.00,27.48,24.41,4217.74,66.00
1,566082,2025-06-17,29367,GUARDANAPO SNOB FS 33X30 50F SANTHER,5,2.90,2.50,2.23,4217.74,14.50
2,566082,2025-06-17,241,PASTA AZ OF LE TIGRADA FRAMA 356-11952,40,9.45,8.86,7.61,4217.74,378.00
3,566082,2025-06-17,32608,CALCULADORA MESA 12 DIG MASTERPRINT 1086,6,20.87,18.97,17.05,4217.74,125.22
4,566082,2025-06-17,18508,CAD BROCH UNIV STIFF AZ 96F JANDAIA,5,6.26,5.68,4.83,4217.74,31.30
...,...,...,...,...,...,...,...,...,...,...
336734,403,2025-03-01,31327,CAIXA TERMICA PT 34L MOR,20,71.60,71.60,71.60,7662.18,1431.91
336735,403,2025-03-01,31329,CAIXA TERMICA VM 18L MOR,52,44.91,44.91,44.91,7662.18,2335.32
336736,403,2025-03-01,9552,CX ISOPOR 33L ISOPLAST,6,25.54,26.00,25.54,7662.18,153.25
336737,402,2025-03-01,6792,CX ISOPOR 3L ISOPLAST,24,2.78,3.17,2.78,66.72,66.72
336738,401,2025-02-01,9554,CX ISOPOR 45L ISOPLAST,20,34.54,36.49,34.54,690.82,690.82