In [19]:
import pandas as pd

In [21]:
caminho_base_estoque = "bases/relatorio_produtos.xlsx"
base_estoque = pd.read_excel(caminho_base_estoque)
base_estoque.head(10)

,Código,Produto,Embalagem,Unidade,Código da Marca,Marca,Quantidade estoque,Preço de custo,Código da categoria,Categoria
0,1,LAPIS Nº2 HB PT C/144 SERELEPE ECOLE,CX/1,CX,1,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA,0.0,9.00000,708,LAPIS ( LAP )
1,3,CANETA HIDRO PONTA FINA PT CIS,UN/1,UN,1272,COMERCIO E IMPORTACAO SERTIC LTDA,NaN,1.48000,35011,CANETA HIDROGRAFICA (CNT)
2,4,BANDEIRINHAS JUNINAS MEGA,PC/1,PC,1,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA,NaN,2.73970,359,BANDEIRAS ( BDJ )
3,5,FITA IMP EPSON FX890 MASTERPRINT,UN/1,UN,4281,GRUPO MASTER COMERCIO IMPORTACAO E EXPORTACAO ...,61.0,10.54527,3,FITAS PARA IMPRESSORAS ( FTA )
4,6,ACUCAR COMUM,KG/1,KG,1,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA,NaN,2.50000,199,AÇÚCAR
5,7,CANETA HIDRO PONTA FINA VM CIS,UN/1,UN,1272,COMERCIO E IMPORTACAO SERTIC LTDA,NaN,1.48000,35011,CANETA HIDROGRAFICA (CNT)
6,9,COLCHETE Nº17 C/72 IARA,UN/1,UN,1,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA,NaN,0.90000,1,GERAL
7,10,PAPEL A4 PALHA 60KG 250F PAPELCENTER,PC/250,PC,1251,PAPELCENTER COM E IND GRAFICA LTDA,0.0,20.00000,40,PAPEIS ( PAP )
8,12,PASTA ELAST 20MM PRODOC,UN/1,UN,2727,CHAMIX IMP EXP COM E IND LTDA,NaN,1.46000,38,PASTAS ( PST )
9,13,CAD BROCH 48F 1/4 BRASIL,UN/1,UN,297,BRASIL CADERNOS IND & COM LTDA,0.0,0.37570,75,CADERNOS ( CAD )

In [22]:
base_estoque.shape

(37527, 10)

In [23]:
base_estoque.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37527 entries, 0 to 37526
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código               37527 non-null  int64
 1   Produto              37527 non-null  object
 2   Embalagem            37527 non-null  object
 3   Unidade              37527 non-null  object
 4   Código da Marca      37527 non-null  int64
 5   Marca                37527 non-null  object
 6   Quantidade estoque   31204 non-null  float64
 7   Preço de custo       37527 non-null  float64
 8   Código da categoria  37527 non-null  int64
 9   Categoria            37527 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 2.9+ MB

In [24]:
base_estoque.describe()

,Código,Código da Marca,Quantidade estoque,Preço de custo,Código da categoria
count,37527.000000,37527.000000,31204.000000,37527.000000,37527.000000
mean,19170.185413,4116.673302,112.105966,22.896258,2661.045034
std,11023.203749,19900.846543,1310.514860,431.449346,8705.304106
min,1.000000,1.000000,-4.000000,0.000000,1.000000
25%,9616.500000,995.000000,0.000000,2.524401,83.000000
50%,19186.000000,2712.000000,0.000000,6.880567,322.000000
75%,28728.500000,7346.000000,20.000000,16.858232,647.000000
max,38230.000000,901455.000000,166112.000000,79000.000000,35157.000000

In [25]:
df_estoque = base_estoque[["Código", "Produto", "Código da Marca", "Marca", "Código da categoria", "Categoria", "Preço de custo", "Quantidade estoque"]].copy()

In [26]:
df_estoque.isnull().sum()

Código                    0
Produto                   0
Código da Marca           0
Marca                     0
Código da categoria       0
Categoria                 0
Preço de custo            0
Quantidade estoque     6323
dtype: int64

In [27]:
colunas_num = ['Código', 'Código da Marca', 'Código da categoria', 'Quantidade estoque', 'Preço de custo']
for coluna in colunas_num:
    qtd = (df_estoque[coluna] == 0).sum()
    print(f"{coluna}: {qtd} valores zerados")

Código: 0 valores zerados
Código da Marca: 0 valores zerados
Código da categoria: 0 valores zerados
Quantidade estoque: 17001 valores zerados
Preço de custo: 2063 valores zerados

In [28]:
df_estoque['Quantidade estoque'] = df_estoque['Quantidade estoque'].fillna(0)

In [29]:
zeros = ((df_estoque["Preço de custo"] == 0).sum()*100 / df_estoque["Código"].count())
print(f"{zeros:.2f} % de valores zerados na coluna de preço de custo")

5.50 % de valores zerados na coluna de preço de custo

In [32]:
cod_prod_uni = df_estoque["Código"].nunique()
pro_unicos = df_estoque["Produto"].nunique()
print(f"{cod_prod_uni} códigos únicos\n{pro_unicos} produtos únicos\n{cod_prod_uni-pro_unicos} diferença")

37527 códigos únicos
36637 produtos únicos
890 diferença

In [33]:
cod_cat_uni = df_estoque["Código da categoria"].nunique()
cat_unicos = df_estoque["Categoria"].nunique()
print(f"{cod_cat_uni} códigos de categorias únicos\n{cat_unicos} categorias únicas\n{cod_cat_uni-cat_unicos} deferença")

747 códigos de categorias únicos
705 categorias únicas
42 deferença

In [34]:
cod_marc_inic = df_estoque["Código da Marca"].nunique()
marc_unicas = df_estoque["Marca"].nunique()
print(f"{cod_marc_inic} códigos únicos das marcas\n{marc_unicas} Marcas únicas\n{cod_marc_inic-marc_unicas} diferença")

892 códigos únicos das marcas
872 Marcas únicas
20 diferença

In [44]:
# Caso 1: Um produto com múltiplos códigos
produtos_duplicados = df_estoque.groupby("Produto")["Código"].nunique().sort_values(ascending=False)
print(produtos_duplicados[produtos_duplicados > 1].head(20))

Produto
CUECA AM BOXER LUPO                        84
CUECA KM BOXER LUPO                        36
RESERVA                                    31
CALCINHA LOBA LUPO 40300                   23
CUECA BOXER MICROFIBRA LUPO 436003         15
MEIA AU SPORT LUPO                         14
CUECA LUPO KM BOXER                        13
CUECA BOXER S/COSTURA LUPO 671003          12
CUECA BOXER MICROFIBRA LUPO 766            12
CALCINHA LOBA AF BIQ LUPO                  10
CALCINHA LOBA FIO LUPO 40600               10
SUTIA LOBA AF BASICO LUPO                  10
MEIA SPORT CANO CURTO PT LUPO               9
CALCINHA LOBA BIQUINI TEEN LUPO 40331       9
CALCINHA LOBA AF BAS LUPO                   9
MEIA AU SPORT K LUPO                        9
CALCINHA LOBA ANGEL LUPO 40460              9
CUECA BOXER S/COSTURA LUPO 671002           9
KIT CALCINHA LOBINHA ESTAMPADA C/3 LUPO     9
CUECA SLIP INF S/COSTURA LUPO 681           9
Name: Código, dtype: int64

In [37]:
df_estoque[df_estoque["Produto"] == "CUECA AM BOXER LUPO"]

,Código,Produto,Código da Marca,Marca,Código da categoria,Categoria,Preço de custo,Quantidade estoque
32166,32801,CUECA AM BOXER LUPO,8903,LUPO S.A.,35102,CUECAS,14.94,0.0
32172,32807,CUECA AM BOXER LUPO,8903,LUPO S.A.,35102,CUECAS,14.94,0.0
32173,32808,CUECA AM BOXER LUPO,8903,LUPO S.A.,35102,CUECAS,14.94,0.0
32175,32810,CUECA AM BOXER LUPO,8903,LUPO S.A.,35102,CUECAS,14.94,0.0
32176,32811,CUECA AM BOXER LUPO,8903,LUPO S.A.,35102,CUECAS,14.94,0.0
...,...,...,...,...,...,...,...,...
35020,35709,CUECA AM BOXER LUPO,8903,LUPO S.A.,35102,CUECAS,15.57,0.0
35074,35763,CUECA AM BOXER LUPO,8903,LUPO S.A.,35102,CUECAS,17.55,0.0
35104,35796,CUECA AM BOXER LUPO,8903,LUPO S.A.,35102,CUECAS,15.57,3.0
35105,35797,CUECA AM BOXER LUPO,8903,LUPO S.A.,35102,CUECAS,15.57,3.0
35110,35803,CUECA AM BOXER LUPO,8903,LUPO S.A.,35102,CUECAS,15.57,3.0

In [50]:
# Primeiro, identifique os produtos com maior variação de códigos:
# Agrupar produtos com +1 código
produtos_multiplos_codigos = df_estoque.groupby('Produto')['Código'].nunique().reset_index(name='Qtd_Códigos')
top_problemas = produtos_multiplos_codigos[produtos_multiplos_codigos['Qtd_Códigos'] > 1].sort_values('Qtd_Códigos', ascending=False)

# Mesclar com categoria/marca para análise
top_problemas = top_problemas.merge(
    df_estoque[['Produto', 'Categoria', 'Marca']].drop_duplicates(),
    on='Produto',
    how='left'
)
display(top_problemas.head(10))

,Produto,Qtd_Códigos,Categoria,Marca
0,CUECA AM BOXER LUPO,84,CUECAS,LUPO S.A.
1,CUECA KM BOXER LUPO,36,CUECAS,LUPO S.A.
2,RESERVA,31,GERAL,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA
3,RESERVA,31,ÓCULOS,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA
4,RESERVA,31,ESPIRAL ( EPR ),MARIA GENI DISTRIB. DE ART. DE PAP. LTDA
5,RESERVA,31,PASTAS ( PST ),MARIA GENI DISTRIB. DE ART. DE PAP. LTDA
6,RESERVA,31,CANETAS ( CNT ),CIA DE CANETAS COMPACTOR S/A
7,RESERVA,31,LENCOL,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA
8,RESERVA,31,LUBRIFICANTES,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA
9,RESERVA,31,PERFURADORES ( PRF ),MARIA GENI DISTRIB. DE ART. DE PAP. LTDA

In [ ]:
top_problemas.to_excel("Produtos_codigos_duplicados.xlsx", index=False)

In [47]:
# % de produtos com múltiplos códigos por categoria
analise_categoria = top_problemas.groupby('Categoria')['Produto'].count() / df_estoque['Categoria'].nunique() * 100
analise_categoria.sort_values(ascending=False).head(10)

Categoria
CADERNOS ( CAD )    10.496454
MEIAS ( MEI )        5.957447
CALCINHAS            2.553191
CUECAS               2.553191
CANETAS ( CNT )      1.985816
AGENDA ( AGD )       1.985816
GERAL                1.843972
SUTIA                1.560284
PASTAS ( PST )       1.276596
PAPEIS ( PAP )       1.276596
Name: Produto, dtype: float64

In [48]:
# Top marcas problemáticas
analise_marca = top_problemas['Marca'].value_counts(normalize=True).head(10)
print(analise_marca)

Marca
LUPO S.A.                                   0.198675
MARIA GENI DISTRIB. DE ART. DE PAP. LTDA    0.103753
BIGNARDI IND.E COM.DE PAP E ARTEFAT LTDA    0.068433
SOCIEDADE INDUSTR DE PLASTICOS DAC LTDA     0.035320
ACCO BRANDS BRASIL LTDA                     0.030905
SAO DOMINGOS S.A INDUSTRIA GRAFICA          0.030905
CONDOR PINCEIS LTDA                         0.028698
NOVA CREDEAL INDUSTRIA DE CADERNOS SA       0.024283
COMERCIO E IMPORTACAO SERTIC LTDA           0.019868
MERCUR SA                                   0.017660
Name: proportion, dtype: float64

In [49]:
df_estoque

,Código,Produto,Código da Marca,Marca,Código da categoria,Categoria,Preço de custo,Quantidade estoque
0,1,LAPIS Nº2 HB PT C/144 SERELEPE ECOLE,1,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA,708,LAPIS ( LAP ),9.000000,0.0
1,3,CANETA HIDRO PONTA FINA PT CIS,1272,COMERCIO E IMPORTACAO SERTIC LTDA,35011,CANETA HIDROGRAFICA (CNT),1.480000,0.0
2,4,BANDEIRINHAS JUNINAS MEGA,1,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA,359,BANDEIRAS ( BDJ ),2.739700,0.0
3,5,FITA IMP EPSON FX890 MASTERPRINT,4281,GRUPO MASTER COMERCIO IMPORTACAO E EXPORTACAO ...,3,FITAS PARA IMPRESSORAS ( FTA ),10.545270,61.0
4,6,ACUCAR COMUM,1,MARIA GENI DISTRIB. DE ART. DE PAP. LTDA,199,AÇÚCAR,2.500000,0.0
...,...,...,...,...,...,...,...,...
37522,38226,PISTOLA P/APLICAR COLA QUENTE PQ FUTURO,8793,FUTURO BRASIL IMPORTACAO E EXPORTACAO LTDA EPP,206,PISTOLA ( PIS ),0.000000,0.0
37523,38227,PERFURADOR METAL 2F 20FL FUTURO,8793,FUTURO BRASIL IMPORTACAO E EXPORTACAO LTDA EPP,81,PERFURADORES ( PRF ),0.000000,0.0
37524,38228,BALDE 8L PT FORTPLAST 1030.5,8801,FORT-PLAST INDUSTRIA E COMERCIO DE PLASTICOS E...,159,BALDES PLASTICO ( BDE ),3.879582,600.0
37525,38229,BALDE 10L PT FORTPLAST 1042.5,8801,FORT-PLAST INDUSTRIA E COMERCIO DE PLASTICOS E...,159,BALDES PLASTICO ( BDE ),5.431415,590.0
37526,38230,QUENTINHA MANUAL 3DV Y C/100 BRICOFLEX,8749,"BRICOFLEX, IMP. E EXP, COM. DE UTIL. DOMESTICA...",144,QUENTINHA ( QNT ),0.000000,0.0