In [2]:
import pandas as pd

In [3]:
base_vendas = pd.read_excel('bases/relatorio_notas.xlsx')
display(base_vendas)

,Numero nota fiscal,Data da venda,Código produto,Descrição do produto,Quantidade do produto,Valor unitário,Valor total (nota),Quantidade (volume nota),Valor desconto,Valor total produtos,Unidade
0,564555,06/06/2025,1093,CANETA ESF CR MEDIA 1.0 AZ BIC,100.0,0.620000,0.590950,10.0,0.35,1047.13,UN
1,564555,06/06/2025,3708,PAPEL A4 SENNINHA AZ 75G 100F REPORT,25.0,5.460000,5.132735,10.0,2.69,1047.13,PC
2,564555,06/06/2025,3711,PAPEL A4 SENNINHA VD 75G 100F REPORT,25.0,5.460000,5.133527,10.0,2.69,1047.13,PC
3,564555,06/06/2025,712,REAB MARC PERM AZ 37ML PILOT,12.0,8.120000,7.818223,10.0,4.55,1047.13,UN
4,564555,06/06/2025,12815,QUADRO HORARIO TRABALHO HORIZON DAC 046F,40.0,6.850000,6.195026,10.0,3.84,1047.13,UN
...,...,...,...,...,...,...,...,...,...,...,...
316347,403,03/01/2025,31327,CAIXA TERMICA PT 34L MOR,20.0,71.595537,71.595537,10.0,NaN,NaN,UN
316348,403,03/01/2025,31329,CAIXA TERMICA VM 18L MOR,52.0,44.910000,44.910000,10.0,NaN,NaN,UN
316349,403,03/01/2025,9552,CX ISOPOR 33L ISOPLAST,6.0,25.542042,25.998995,10.0,NaN,NaN,UN
316350,402,03/01/2025,6792,CX ISOPOR 3L ISOPLAST,24.0,2.780000,3.172271,1.0,NaN,NaN,UN
316351,401,02/01/2025,9554,CX ISOPOR 45L ISOPLAST,20.0,34.540934,36.485731,1.0,NaN,NaN,UN

In [4]:
base_vendas.columns.tolist()

['Numero nota fiscal',
 'Data da venda',
 'Código produto',
 'Descrição do produto',
 'Quantidade do produto',
 'Valor unitário',
 'Valor total (nota)',
 'Quantidade (volume nota)',
 'Valor desconto',
 'Valor total produtos',
 'Unidade']

In [5]:
base_vendas.isnull().sum()

Numero nota fiscal             0
Data da venda                  0
Código produto                 0
Descrição do produto           0
Quantidade do produto          0
Valor unitário                 0
Valor total (nota)             0
Quantidade (volume nota)    1700
Valor desconto              2992
Valor total produtos        2710
Unidade                        0
dtype: int64

In [6]:
base_vendas.describe()

,Numero nota fiscal,Código produto,Quantidade do produto,Valor unitário,Valor total (nota),Quantidade (volume nota),Valor desconto,Valor total produtos
count,316352.000000,316352.000000,316352.000000,316352.000000,316352.000000,314652.000000,313360.000000,313642.000000
mean,479163.187396,22072.866016,15.675853,15.841829,13.089965,28.499574,5.588534,2089.542827
std,181381.251400,11739.467571,84.047683,28.998172,23.923867,29.011042,11.322789,3690.735347
min,401.000000,5.000000,-3125.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,544042.000000,11452.000000,2.000000,3.960000,3.184941,11.000000,1.100000,501.510000
50%,550455.000000,24782.000000,5.000000,8.180000,6.649376,19.000000,2.580000,1074.740000
75%,557628.000000,32222.000000,12.000000,18.700000,15.165985,36.000000,6.450000,2334.170000
max,564555.000000,38229.000000,9764.000000,1169.000000,974.762703,238.000000,569.680000,141784.350000

In [7]:
colunas_uteis = [
    'Numero nota fiscal', 
    'Código produto', 
    'Descrição do produto',
    'Quantidade do produto', 
    'Valor unitário', 
    'Valor total produtos',
    'Valor total (nota)'
]

df_vendas = base_vendas[colunas_uteis].copy()

In [ ]:
# valor_nota = df_vendas.pop('Valor total produtos')
# df_vendas['valor_nota'] = valor_nota
df_vendas.rename(columns={'Valor total (nota)': 'Valor pago'})
df_vendas

,Numero nota fiscal,Código produto,Descrição do produto,Quantidade do produto,Valor unitário,Valor total (nota),valor_nota
0,564555,1093,CANETA ESF CR MEDIA 1.0 AZ BIC,100.0,0.620000,0.590950,1047.13
1,564555,3708,PAPEL A4 SENNINHA AZ 75G 100F REPORT,25.0,5.460000,5.132735,1047.13
2,564555,3711,PAPEL A4 SENNINHA VD 75G 100F REPORT,25.0,5.460000,5.133527,1047.13
3,564555,712,REAB MARC PERM AZ 37ML PILOT,12.0,8.120000,7.818223,1047.13
4,564555,12815,QUADRO HORARIO TRABALHO HORIZON DAC 046F,40.0,6.850000,6.195026,1047.13
...,...,...,...,...,...,...,...
316347,403,31327,CAIXA TERMICA PT 34L MOR,20.0,71.595537,71.595537,NaN
316348,403,31329,CAIXA TERMICA VM 18L MOR,52.0,44.910000,44.910000,NaN
316349,403,9552,CX ISOPOR 33L ISOPLAST,6.0,25.542042,25.998995,NaN
316350,402,6792,CX ISOPOR 3L ISOPLAST,24.0,2.780000,3.172271,NaN
316351,401,9554,CX ISOPOR 45L ISOPLAST,20.0,34.540934,36.485731,NaN